packages/n8n/workflows/config-update.json
{
  "name": "xstockstrat — Config Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xstockstrat-config-update",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "xstockstrat-config-update"
    },
    {
      "parameters": {
        "jsCode": "// Map incoming payload to the config set-config webhook format.\n// Expected input:\n//   { key, value, environment, trading_mode, author, reason }\n// value may be a string, number, boolean, or object with type hint:\n//   { string_val } | { bool_val } | { int_val } | { float_val } | { json_val }\nconst body = $input.item.json.body || $input.item.json;\n\nif (!body.key) throw new Error('Missing required field: key');\nif (body.value === undefined) throw new Error('Missing required field: value');\n\nconst payload = {\n  key: body.key,\n  value: body.value,\n  environment: body.environment || 'DEV',\n  trading_mode: body.trading_mode || 'ALL',\n  author: body.author || 'n8n',\n  reason: body.reason || 'n8n config update workflow',\n};\n\nreturn { json: payload };"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Map Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://xstockstrat-config:8060/webhooks/n8n/set-config",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "POST to Config Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', key: $('Map Payload').item.json.key, result: $json }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Map Payload", "type": "main", "index": 0 }]
      ]
    },
    "Map Payload": {
      "main": [
        [{ "node": "POST to Config Service", "type": "main", "index": 0 }]
      ]
    },
    "POST to Config Service": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["xstockstrat", "config"],
  "notes": "Receives a config key/value update payload and forwards it to the xstockstrat-config service via the n8n webhook handler. Set the webhook credential to match N8N_WEBHOOK_SECRET on the config service."
}
