packages/n8n/workflows/ledger-query-events.json
{
  "name": "xstockstrat — Ledger Query Events (Audit Replay)",
  "nodes": [
    {
      "parameters": {},
      "id": "d4e5f6a7-0004-0004-0004-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-1",
              "name": "stream_key",
              "value": "",
              "type": "string"
            },
            {
              "id": "field-2",
              "name": "event_type",
              "value": "",
              "type": "string"
            },
            {
              "id": "field-3",
              "name": "limit",
              "value": 50,
              "type": "number"
            },
            {
              "id": "field-4",
              "name": "offset",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000002",
      "name": "Set Query Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300],
      "notes": "Edit stream_key and event_type to filter events. Leave empty to query all. Increase limit for larger exports."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://xstockstrat-ledger:8057/webhooks/n8n/query-events",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  stream_key: $json.stream_key || undefined,\n  event_type: $json.event_type || undefined,\n  limit: $json.limit,\n  offset: $json.offset\n}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000003",
      "name": "POST to Ledger Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse and summarize query results for audit logging.\nconst result = $input.item.json;\nconst events = result.events || [];\n\nconsole.log(`Ledger query returned ${events.length} events`);\n\nconst summary = {\n  total: events.length,\n  event_types: [...new Set(events.map(e => e.event_type))],\n  stream_keys: [...new Set(events.map(e => e.stream_key))],\n  earliest: events.length > 0 ? events[0].created_at : null,\n  latest: events.length > 0 ? events[events.length - 1].created_at : null,\n  events,\n};\n\nreturn { json: summary };"
      },
      "id": "d4e5f6a7-0004-0004-0004-000000000004",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "Set Query Parameters", "type": "main", "index": 0 }]
      ]
    },
    "Set Query Parameters": {
      "main": [
        [{ "node": "POST to Ledger Service", "type": "main", "index": 0 }]
      ]
    },
    "POST to Ledger Service": {
      "main": [
        [{ "node": "Summarize Results", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["xstockstrat", "ledger", "audit"],
  "notes": "Manual audit workflow: queries the ledger event store for replay and audit purposes. Edit 'Set Query Parameters' node to filter by stream_key (e.g. 'order.<id>') and/or event_type. Note: the roadmap spec named this endpoint 'replay-events' but the actual ledger service exposes 'query-events'."
}
