packages/n8n/workflows/place-order.json
{
  "name": "xstockstrat — Place Order",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xstockstrat-place-order",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "xstockstrat-place-order"
    },
    {
      "parameters": {
        "jsCode": "// Validate and map the incoming order payload.\n// Expected input:\n//   { symbol, side, qty, order_type, limit_price?, stop_price?,\n//     strategy_id?, user_id?, trading_mode? }\nconst body = $input.item.json.body || $input.item.json;\n\nif (!body.symbol) throw new Error('Missing required field: symbol');\nif (!body.side) throw new Error('Missing required field: side (BUY|SELL)');\nif (!body.qty || body.qty <= 0) throw new Error('Missing or invalid field: qty');\n\nconst validSides = ['BUY', 'SELL', 'buy', 'sell'];\nif (!validSides.includes(body.side)) throw new Error('side must be BUY or SELL');\n\nconst payload = {\n  symbol: body.symbol.toUpperCase(),\n  side: body.side.toUpperCase(),\n  order_type: (body.order_type || body.type || 'MARKET').toUpperCase(),\n  qty: Number(body.qty),\n  limit_price: body.limit_price ? Number(body.limit_price) : undefined,\n  stop_price: body.stop_price ? Number(body.stop_price) : undefined,\n  strategy_id: body.strategy_id || '',\n  user_id: body.user_id || '',\n  trading_mode: (body.trading_mode || 'PAPER').toUpperCase(),\n};\n\n// Remove undefined fields\nObject.keys(payload).forEach(k => payload[k] === undefined && delete payload[k]);\n\nreturn { json: payload };"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Validate & Map Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://xstockstrat-identity:8058/xstockstrat.identity.v1.IdentityService/ValidateToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ token: $('Webhook').item.json.headers?.authorization?.replace('Bearer ', '') || '' }) }}",
        "options": {
          "timeout": 5000,
          "ignoreResponseCode": true
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Validate Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://xstockstrat-trading:8051/webhooks/n8n/place-order",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Validate & Map Order').item.json) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "POST to Trading Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', order: $json }) }}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Validate & Map Order", "type": "main", "index": 0 }]
      ]
    },
    "Validate & Map Order": {
      "main": [
        [
          { "node": "Validate Token", "type": "main", "index": 0 },
          { "node": "POST to Trading Service", "type": "main", "index": 0 }
        ]
      ]
    },
    "Validate Token": {
      "main": [
        [{ "node": "POST to Trading Service", "type": "main", "index": 0 }]
      ]
    },
    "POST to Trading Service": {
      "main": [
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["xstockstrat", "trading"],
  "notes": "Receives an external order signal and places it via xstockstrat-trading. The token validation step calls identity service to verify the caller JWT before forwarding to trading. Pass Authorization: Bearer <token> in the request header."
}
